
@{
    ViewData["Title"] = "About";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

    <style>
        .body{
            justify-content: center;
            align-items: center;
        }
        .img-wrap{
            width: 100%;
        }
        .img-wrap img{
            width: 50%;
            height: 200px;
            padding: 10px;
            border-radius: 50%;
            box-shadow: 0 0 10px #999999
        }
        #aboutus h2{
            margin-bottom: 25px;
        }
    </style>
</head>

<div class="landing-section">
    <body>
        <section id="aboutus">
            <div class="container">
                <br />
                <h1>Neke informacije o nama</h1>
                <br />
                <br />
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-7">
                        <h2 class="text-center">Faris Demir, developer i dizajner</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <div class="img-wrap">
                            <img src="~/farisProfilna.jpg" />
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-5">
                        <div class="img-wrap">
                            <img src="~/farisProfilna.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <h2 class="text-center">Milica Đokić, developer i dizajner</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-7">
                        <h2 class="text-center">Amar Bešlagić, developer i dizajner</h2>
                        <p>
                            Student druge godine Elektrotehnickog fakulteta u Sarajevu.
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <div class="img-wrap">
                            <img src="~/Amar_Profil.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</div>



