@model EParking.Models.Zahtjev

@{
    ViewData["Title"] = "Create";
}

<script>
    function Alert() {
        swal("Message", "Request sent");
    }
</script>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Register</div>
                <div class="card-body">

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Send request" class="btn btn-primary" onclick="Alert()" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
